:root {
  --primary: #85aaab;
  --light: #6de1e3;
  --dark: #2D5E5E;
  --text-color-main: #000000;
  --text-color-alt: #fff;
  --ua-block: #ADDDDE;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}

button,
a {
  transition: 0.3s;
  cursor: pointer;
}

.container {
  padding: 60px max(20px, 50vw - 585px);
}
@media screen and (max-width: 1500px) {
  .container {
    padding: 60px max(20px, 50vw - 500px);
  }
}
@media screen and (max-width: 1100px) {
  .container {
    padding: 60px max(20px, 50vw - 350px);
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 60px 20px;
  }
}

.btn {
  min-width: 250px;
  min-height: 40px;
  background: var(--dark);
  color: var(--text-color-alt);
  text-decoration: none;
  border: 3px solid transparent;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.btn:hover, .btn:focus {
  background: var(--primary);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  padding-top: 30px;
  box-sizing: border-box;
}
.header__logo {
  display: block;
}
.header__toggle {
  display: none;
}
.header__toggle + input {
  display: none;
}
@media screen and (max-width: 600px) {
  .header__toggle + input:checked ~ .header__menu {
    translate: 0;
  }
}
@media screen and (max-width: 600px) {
  .header__toggle {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  .header__toggle span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    translate: -50% 0;
    position: absolute;
  }
  .header__toggle span:nth-child(1) {
    left: 50%;
    top: 10px;
  }
  .header__toggle span:nth-child(2) {
    left: 50%;
    top: 20px;
  }
  .header__toggle span:nth-child(3) {
    left: 50%;
    top: 30px;
  }
}
.header__menu {
  padding: 0px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 15px 15px;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .header__menu {
    translate: -200vh;
    transition: translate 0.5s;
    width: 100vh;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
}
.header__link {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--primary);
  display: block;
  position: relative;
}
.header__link:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  margin-top: 2px;
  will-change: scale;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  scale: 0 1;
  transition: scale 0.3s;
  transform-origin: left center;
}
.header__link:hover:before, .header__link:focus:before {
  scale: 1.1;
}
.header__link--active {
  text-decoration: none;
  color: var(--light);
}

.promo {
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 55px;
  background: url(../images/photo_to_main_offer.jpg) no-repeat center/cover #8D8C88;
  color: var(--text-color-alt);
  line-height: 1.5;
}
.promo__title {
  font-size: 40px;
  max-width: 500px;
  margin: 0;
}
.promo__description {
  font-size: 24px;
  max-width: 300px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
