.btn {
  min-width: 250px;
  min-height: 40px;
  background: var(--dark);
  color: var(--text-color-alt);
  text-decoration: none;
  border: 3px solid transparent;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: var(--primary);
  }
}
