$blue-color: #34547A;
$grey-color: #727272;
$white-color: #fff;
$light-grey-color: #f9f9f9;
$too-light-grey-color: #EEEFF1;
$black-color: #000;
$font-weight-500: 500;
$margin-100px: 6.25rem;
$margin-50px: 3.125rem;
$main-padding: 15px;
$font-size: 16px;
$tablet: 768px;
$mobile-small: 576px;
$chine-phone: 376px;