.map {
  position: relative;
  height: 600px;

  &__bg {
    position: absolute;
    inset: 0;
    background: url('../images/map.jpg') center/cover no-repeat;
    z-index: 1;
  }

  .container {
    position: relative;
    height: 100%;
    z-index: 2;
  }

  &__card {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
    width: 477px;
    height: 344px;
    padding: 40px;

    background: #8fbcbc;
    color: #1f3f3f;

    margin-right: 135px;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
        width: 298px;
    height: 24px;
  }
}
@media (max-width: 768px) {

  .map {
    height: auto;
  }

  .map__bg {
    position: relative;
    height: 250px;
  }

  .map .container {
    padding: 0 20px;
  }

  .map__card {
    position: static;
    transform: none;

    width: 100%;
    max-width: 320px;   // аккуратная ширина как в макете
    height: auto;

    margin: -50px auto 0; // центр + наложение
    padding: 20px;
  }

  .map__title {
    font-size: 24px;
  }

  .map p {
    max-width: 100%;
    font-size: 14px;
  }
}