/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    background-color: #eeeff1;
    color: #727272;
}

.container {
    max-width: 1100px;
    padding-left: clamp(20px, 20vw, 400px);
    padding-right: 15px;
}

.header {
    padding: 80px 0 0;

}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 50px;
    letter-spacing: 0.15em;
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: #34547A;
}

.header__link--active {
    color: #34547A;
    font-weight: 500;
}

.design {
    margin: 180px 0 140px;
}

.design__title {
    font-size: 48px;
    color: #000000;
    font-weight: 500;
    line-height: 1.6;
}

.design__text {
    max-width: 540px;
    margin: 60px 0; 
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 65px;
    text-decoration: none;
    color: #FFFFFF;
    background: #34547A;
    letter-spacing: 0.15em;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.9;
}

.about {
    padding: 100px 0;
    background-color: #ffffff;
    text-align: center;
}

.about__container {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;

}

.about__title {
    font-size: 32px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 50px;
}

.project {
    padding: 100px 0;
    background-color: #34547A;
}

.project__container {
    max-width: 1200px;
}

.project__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}

.project__item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFFFFF;
    line-height: 1.2;
}

.project__item--img {
    width: 50px;
    height: auto;
}

.work {
    padding: 100px 0;
    text-align: center;
}

.work__container {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
}

.work__title {
    font-size: 32px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 50px;

}

.work__media-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 15px 0 15px;
}

.work__media-img {
    width: 100%;
    height:auto;
    object-fit: cover;
    display: block;
}

.work__button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.work__button-container:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.work__button-img {
    width: 10vw;
    min-width: 40px;
    max-width: 100px;
    height: auto;
}


.footer {
    padding: 50px 0;
    background-color: #34547A;
}

.footer__text-1 {
    font-size: 21px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.footer__text-2 {
    font-size: 13px;
    line-height: 1.6;
    color: #FFFFFF;
}

