.container_div {
    background-color: hsl(87, 78%, 45%);
    width: 15vw;
    height: 10vh;
    margin: 10px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

