# Node modules
node_modules/
dist/
package.json
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

